@charset "utf-8";
@import url("style2.css");

@media (max-width: 575px) {
  .container,
  .container-sm {
    max-width: 95vw;
    /* max-width: 320px; */
  }
  .container.toparea {max-width: 100%;}
  .container.toparea .container.px-3 {padding:0 !important;margin:0 !important;}
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 95vw;
    /* max-width: 80vw; */
    /* max-width: 540px; */
  }
  .container.toparea {max-width: 100%;}
  .container.toparea .container.px-3 {padding:0 !important;margin:0 !important;}
  .wraptopmenu {display: none}
  .modal-dialog {max-width: 440px;}
}

@media (min-width: 769px) {
  .container.toparea,
  .container,
  .container-sm,
  .container-md {
    max-width: 95vw;
    /* max-width: 80vw; */
    /* max-width: 720px; */
  }
  .container.toparea {max-width: 100%;}
  .modal-dialog {max-width: 440px;}
}

@media (min-width: 992px) {
  .container.toparea,
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 95vw;
    /* max-width: 80vw; */
    /* max-width: 976px; */
  }
  .modal-dialog {max-width: 440px;}
}

@media (min-width: 1024px) {
  .container.toparea,
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    /* max-width: 80vw; */
    max-width: 976px;
  }
  .modal-dialog {max-width: 440px;}
  .navbar {padding: 0 1.5rem; height: 74px;}
}

@media (min-width: 1200px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 976px;
  }
  .modal-dialog {max-width: 480px;}
}

@media (min-width: 1400px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 976px;
  }
  .modal-dialog {max-width: 480px;}
}
.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {--bs-gutter-x: 0;}
.navbar {box-shadow: none;border-bottom: 1px solid #E9EBF0; padding: 0 1.25rem; height: 66px;}
/* .navbar .container {max-width: 100%;} pc 화면 안됨 - 확인후 삭제필요 */
.navbar .navbar-brand {z-index: 1;}
.navbar h1 {display: flex; align-items: center; justify-content: center; margin: 0;}
.footer {background: #000;}
.footer .wrapinfo {padding: 64px 24px 0;}
.footer .wrapinfo .infolist {padding: 1.5rem 0 45px 0;}
.footer .wrapinfo .infolist .tit {margin-bottom: .2rem; font-size: 0.875rem; font-weight: 600; color: #CACCD2;}
.footer .wrapinfo .infolist .desc {margin-bottom: .2rem; font-size: 13px; font-weight: 400; color: #CACCD2;}
.footer .wrapinfo .infolist .desc .subtit {font-weight: 500;}
.wrapcopyrights {font-size: 0.835rem; padding: 1.5rem 0; border-top: 1px solid rgba(233, 235, 240, 0.20);}
.text-secondary {color: #828591 !important;}
.navbar-nav .btn-outline-secondary,
.btncplogin {border-color: #E9EBF0;}
.navbar .toptit {font-size: 1.25rem; font-weight: 500; color: #1F2125; letter-spacing: -0.4px;}
.stepbar {display: flex; flex-wrap: wrap; gap: 8px;}
.stepbar .col {width:20%; height: 4px; gap:2px; background: #EFF0F5;}
.stepbar .col.active {background: #D60078;}
.border0 {border: 0;}
.h2tit {font-size: 1.5rem; font-weight: 700;}
.h2tit.underline {padding: 16px 0; border-bottom: 1px solid #828591;}
.h2tit .desctit {font-size: 1.25rem; font-weight: 500;}
.h3tit {font-size: 1.25rem; font-weight: 700;}
.h_tit18 {font-size: 1.125rem; font-weight: 500; color: #222;}
.input-group .form-label {position: relative;}
.input-group>.form-control, .input-group>.form-select, .input-group>.form-floating {width: inherit;}
.input-group>.form-control {color: #1F2125; font-size: 1.25rem;}
.input-group>.form-control::placeholder {color: #CACCD2; }
.form-control {padding: 1.0rem 0;}
.desc1 {position: relative; font-size: 0.875rem; font-weight: 600;} 
.desc1info {display: inline-block; position: relative; width: 16px; height: 16px;}
.desc1info::before {content:''; position: absolute; left: -23px; top: 3px; display: block; width: 16px; height: 16px; margin-left: 20px; background: url('../img/icon_info.png') 0 0 no-repeat; background-size: 100%;}
.wrapboxinfo1 {display: flex; padding: 1px; flex-direction: column; align-items: flex-start; gap: 16px;border-radius: 8px; border: 1px solid #FFDAEE; background: #FFF; background-image: linear-gradient(#fff, #fff), linear-gradient(180deg,rgba(255, 218, 238, 1) 0%, rgba(230, 0, 126, 1) 50%, rgba(128, 0, 70, 1) 100%); background-origin: border-box; background-clip: content-box, border-box; }
.boxinfo1 {padding: 20px;}
.pointcolor {color: #E6007E !important;}
.txt1F2125 {color: #1F2125 !important}
.txt4D5461 {color: #4D5461 !important}
.txt262C36 {color: #262C36 !important}
.txt222 {color: #222 !important}
ol, ul {padding-left: 0;}
ol.list, ul.list {margin-bottom: 0;}
ol.list li, ul.list li { color: #1F2125; font-size: 0.875rem; list-style: none;}
.row {margin-right: 0; margin-left: 0;}
.listnum {position: relative;}
.listnum::before {content:''; display: block; width: 14px; height: 14px; background: red; border-radius: 100%; position: absolute; top: 0; left: 0;}
.btnwrap {display: flex; gap: 10px;}
.btnwrap .btn {flex:1; margin-bottom: 0; padding: 15px 20px; font-family: "Pretendard";font-size: 20px;font-weight: 600;line-height: 120%;text-transform: capitalize;}
.divide1 {height: 1px; margin: 20px 0; background-color: #E9EBF0;}
.divide10 {height: 10px; margin: 32px 0; background-color: #F7F8FB;}
.maptit {font-size: 1.125rem; color: #E6007E; font-weight: 700; padding-bottom: 15px; border-bottom: 1px solid #E9EBF0;}
.mapinfo .tit {padding-bottom: 8px;font-size: 18px; font-weight: 600; color: #4D5461;line-height: 140%;}
.mapinfo .desc {font-size: 16px; font-weight: 500; color: #828591;line-height: 130%;}
.reviewinfo_tit {font-size: 1rem; color: #828591}
.reviewinfo_tit .subdesc {font-size: 0.835rem; font-weight: 400; color: #CACCD2;}
.reviewinfo_desc {font-size: 1.125rem; color: #1F2125; font-weight: 500;}
.btn_edit {padding: 2px 10px; border-radius: 8px;border: 1px solid #D6D7DE;background: #FFF;}

.form-check:not(.form-switch) .form-check-input[type="checkbox"] {border-radius: 100%; border:0;}
.form-check:not(.form-switch) .form-check-input[type="checkbox"]:after {content:'';background:url('../img/check_default.svg') 0 0 no-repeat; background-size: 100%; opacity: 1;}
.form-check:not(.form-switch) .form-check-input[type="checkbox"]:checked:after {content:'';background:url('../img/check_checked.svg') 0 0 no-repeat; background-size: 100%;}
.accordion-button::after {content:''; width: 9px; margin: 10px 20px; margin-left: auto; background: url('../img/icon_rightarrow.svg') 0 0 no-repeat; background-size: 100%;transform: rotate(90deg);}
.accordion-button.arrowrighttype::after {transform: rotate(0deg);}
.accordion-button:not(.collapsed)::after {content:''; width: 9px; background: url('../img/icon_rightarrow.svg') 0 0 no-repeat; background-size: 100%; transform: rotate(270deg);}
.chkallbox > .form-check {position: relative; width: 100%; padding: 16px 16px 16px 8px; border: 1px solid #E9EBF0; border-radius: 8px;}
.chkallbox.active > .form-check {width: 100%; padding: 16px 16px 16px 8px; border: 1px solid #E6007E; border-radius: 8px;}
.chkallbox > .form-check:not(.form-switch) .form-check-input {margin-left: 0 !important;}
.chkallbox .accordion  {border-top: 1px solid #F7F7F7;}
.chkallbox .form-check:not(.form-switch) .form-check-input[type="checkbox"] {padding-left: 10px;}
.chkallbox .accordion-item:last-of-type .accordion-collapse {padding: 5px 12px 17px;background-color: #FFF4FA; border-radius: 8px;}
.chkallbox .form-check:not(.form-switch) .form-check-input.chkedall[type="checkbox"]:checked:after {content:'';background:url('../img/check_allchecked.svg') 0 0 no-repeat; background-size: 100%;}
.chkallbox .form-check-label {width:100%; padding: 0 11px; font-size: 1rem;}
.chkallbox .accordion-item .accordion-collapse .form-check.chksub:not(.form-switch) .form-check-input[type="checkbox"] {padding-left: 0;}
.chkallbox .accordion-button {padding: 10px 0;}
.chkinchksub .accordion-button {padding: 2px 0;}
.chkallbox .chkinchksub .form-check:not(.form-switch) .form-check-input[type="checkbox"] {padding-left: 0;}
.chkinchksub .form-check:not(.form-switch) .form-check-input[type="checkbox"]:after {content:'';background:url('../img/check_default2.svg') 0 0 no-repeat; background-size: 100%; background-color: #FFF4FA;}
.chkinchksub .form-check:not(.form-switch) .form-check-input[type="checkbox"]:checked:after {content:'';background:url('../img/check_checked2.svg') 0 0 no-repeat; background-size: 100%; background-color: transparent;}
.chkinchksub .accordion-button::after {content:''; margin: 10px 6px 10px 20px; margin-left: auto; background: url('../img/icon_rightarrow2.svg') 0 0 no-repeat; background-size: 100%;transform: rotate(0deg);}
.chkallbox .chkinchksub .form-check-label {width: 100%; padding-left: 0; padding-right: 20px; color: #4D5461;font-size: 0.875rem; font-weight: 400;}
.accordion-body.chkinchksub {padding: 0}
.chkallbox > .form-check.rightarrow::after {content:''; margin: 10px 6px 10px 20px; margin-left: auto; background: url('../img/icon_rightarrow.svg') 0 0 no-repeat; background-size: 100%;}
.form-check.wrapchkedall {margin-bottom: 12px;}
.list-group.type1 .list-group-item {border:0; padding: 8px 0; margin-top: 20px; font-size: 1.125rem; color: #1F2125;}
.list-group.type1 li:first-child {margin-top: 0;}
.list-group.type1 li a {display: block;}
.list-group.list-group-numbered.type2 .list-group-item {border: 0; text-align: left; padding: 3px 3px 3px 12px; font-size: 1rem; color: #4D5461; font-weight: 400;}
.btn-righticon {width: 24px; height: 24px; padding: 0; margin: 0;}
.icon-calendar {display: inline-block; width: 24px; height: 24px; padding: 0; background: url('../img/icon_calendar.svg') 0 0 no-repeat;}


/* 팝업 */
.modal .modal-content {border-radius: 20px; border: 0;}
.modal .modal-header {padding-top: 24px; border-bottom: 0;}
.modal .modal-title {font-size: 1.25rem; font-weight: 700; }
.modal .modal-body {padding-top: 0; padding-bottom: 25px;font-size: 1rem; font-weight: 500; line-height: 130%; border-top: 0;}
.modal .modal-footer {padding-top: 0;border-top: 0;}
.modal .modal-footer .btn {flex:1; margin-bottom: 5px; padding: 16px 20px; font-family: "Pretendard";font-size: 20px;font-weight: 600;line-height: 120%;text-transform: capitalize;}
.modal.show .modal-dialog {padding: 0 10px;}
.btn-primary, .btn.bg-gradient-primary, .btn-primary:hover, .btn.bg-gradient-primary:hover {box-shadow: none;}
.btn-close {background: url("../img/icon_close.png") 0 0 no-repeat;}
/* 바텀시트 팝업 */
.modal.fade.bottomsheetpop .modal-dialog {transition: transform .3s ease-out;transform: translate(0,50px);}
.bottomsheetpop .modal-dialog {position: fixed !important;bottom: 0 !important;left: 0% !important;right: 0% !important;margin-bottom: 0 !important;} 
.modal.show.bottomsheetpop .modal-dialog {padding: 0; transform: none;}
.bottomsheetpop .modal-content {border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
.modal .modal-body.scroll {overflow-y: scroll;}

/* 
 * Wireless Internet 
 */
.wireless-sections {overflow: initial;}
.wireless-sections.active {overflow: hidden;}
.wireless-sections .navbar {height: 81px;}
.wireless-sections .navbar h1 {justify-content: flex-start; padding-left: 45px;}
.btn.navlast {font-size: 1rem; border-radius: 50px; display: flex;padding: 6px 12px;justify-content: flex-end;align-items: center;gap: 5px;}
.wraptopmenu {display: block; padding: 8px 0;background-color: #EEE;}
.topmenu {display: flex; justify-content: flex-end; width: 100%;}
.topmenu a {padding: 0 12px; color: #828591; font-size: 0.835rem}

.depth2area {display: block; min-height:50px; margin-bottom: 50px; background-color: #fff; border-bottom: 1px solid transparent;}
.depth2area.active {display: block; background-color: #fff; border-bottom: 1px solid #EFF0F5;}
.dropdown>.dropdown-menu.depth2menu .d-lg-block, .dropdown .dropdown-menu.depth2menu .d-lg-block,
.dropdown.dropdown-hover:hover>.dropdown-menu.depth2menu .d-lg-block, .dropdown .dropdown-menu.show.depth2menu .d-lg-block {display: flex !important;}
.dropdown.dropdown-hover:hover>.dropdown-menu.depth2menu, .dropdown>.dropdown-menu.depth2menu {display:block; left: -150px !important; background: transparent; box-shadow: none; margin-top: 60px !important; transform: none !important;}
.dropdown>.dropdown-menu:before, .dropdown .dropdown-menu:before,
.dropdown.dropdown-hover:hover>.dropdown-menu:before, .dropdown .dropdown-menu.show:before {display: none;}
.dropdown-item {width: auto; font-size: 1.125rem; font-weight: 400; color: #828591; padding: 9px 24px;transition: none; outline: none;}
.dropdown-item:hover, .dropdown-item:focus {font-weight: 500; color: #1F2125; border-bottom: 2px solid #262C36; border-radius: 0; background-color: initial;}
.dropdown-item.active, .dropdown-item:active
.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {color: #E6007E; font-weight: 500;}
.navbar-nav li.dropdown:nth-last-child(-n+2):not(:last-child) .depth2menu {left: -220px !important}
.navbar .nav-item {cursor: pointer;}
.navbar .nav-item.active .nav-link {color: #E6007E; }
.navbar .nav-link,
.navbar .nav-item.active .nav-link {font-weight: 500;}
.list-group.wraplisttype1 .list-group-item {padding: 0}
.listlinetype1 {display: flex; color: #1F2125; font-size: 0.875rem; margin:0;}
.listlinetype1 .tit {width: 45%; padding: 12px 16px; background-color: #FAFCFF; border-right: 1px solid #EFF0F5;}
.listlinetype1 .desc {padding: 12px 16px; margin:0;}
.list-group.wraplisttype1 li:first-child .tit {border-top-left-radius: 5px;}
.list-group.wraplisttype1 li:last-child .tit {border-bottom-left-radius: 5px;}

.page-tit>.tit2 {margin-bottom: 0; color: #4D5461; font-size: 24px; font-weight: 600;line-height: 140%; letter-spacing: -0.48px;}
.tit20 {color: #4D5461;font-size: 20px;font-style: normal;font-weight: 700;line-height: 140%; letter-spacing: -0.4px;}
.titrequired {position: relative;}
.titrequired::after {content: '*';color: #FF5151;padding: 0 3px; font-size: 14px;}
.form-check:not(.form-switch) .form-check-input[type="radio"]:after {width: 0.75rem;height: 0.75rem; background-image: linear-gradient(195deg, #E6007E 0%, #E6007E 100%), var(--bs-gradient);}
.form-check-input[type="radio"] {position: relative; border: 1px solid #d1d7e1; padding: 3px; background: blue;}
.form-check-input[type="radio"]:before {content:''; position: absolute;width: 0.75rem;height: 0.75rem;border-radius: 50%;background: url("../img/icon_radiodefault.svg");opacity: 1;left: 0;right: 0;top: 0;bottom: 0;margin: auto;}
.border1 {display: flex;
height: 140px;
padding: 10px;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;border-radius: var(--spacing-8, 8px);
border: 1px solid #E9EBF0;}
.form-control.border1:focus {border: 1px solid #E9EBF0;}
.link_sitemap {}
.link_sitemap dt {padding-top: 20px; font-size: 20px; font-weight: 600; color: #262C36;}
.link_sitemap dd {margin-top: 12px;}
.link_sitemap dd a {font-size: 16px; font-weight: 500; color: #828591;}
.pagination {display: flex; justify-content: space-between; margin-top: 24px;}
.pagination li:nth-child(2) {display:flex;}
.page-item .page-link, .page-item span {width: 40px; height: 40px; border:0; border-radius: 8px !important;}
.pagination li:nth-child(2) .page-link, .pagination li:nth-child(2) span {border: 0; font-size: 14px; font-weight: 500;}
.page-link.active, .active>.page-link {background-color: #FFDAEE; color: #E6007E; font-weight: 600;}
.pagination li:first-child span,
.pagination li:last-child span {width: 32px; height: 32px; border: 1px solid #E9EBF0}
.tbltype1 {}
.tbltype1 thead {font-size: 18px; font-weight: 500; color: #262C36; text-align: center; border-top: 1px solid #262C36;}
.table .tbltitdesc {overflow: hidden; display: inline-block; width: 360px; text-overflow: ellipsis; white-space:nowrap; padding-top: 5px; font-size: 16px; font-weight: 500; color: #262C36;}
.table.tbldetail thead th {padding: 0;}
.table th {font-weight: initial;}
.table thead th, .table tbody th, .table tbody td {font-size: 14px; vertical-align: middle; white-space: normal;}
.table.tbltype1 tr {border-bottom: 1px solid #E9EBF0;}
.tbldetail {border-top: 1px solid #262C36;}
.tbldetail .detailarea {padding: 16px 24px; font-size: 16px; font-weight: 400; line-height: 130%; color: #262C36;}
.tbldetail .info {display: flex; align-items: center; margin: 0; border-bottom: 1px solid #E9EBF0}
.tbldetail .info .tit {position: relative; padding: 16px 12px; font-size: 18px; font-weight: 500; color: #262C36;}
.tbldetail .info .tit.line:before {content:''; display: block; width: 1px; height: 20px; background-color: #E9EBF0; position: absolute; top: 16px; left: 0;}
.tbldetail .info .desc {padding: 0 16px; font-size: 16px; color: #535862;}


.btn_list {height: 56px; font-size: 20px; font-weight: 600; color: #E6007E;}
.wrap_btn_list {display:flex; justify-content: center;}


.tbltype {}
.tbltype thead {font-size: 18px; font-weight: 500; color: #262C36; text-align: center; border-top: 1px solid #262C36;}
.tbltype {display:flex; width:100%; flex-direction:column;}
.tbltype tr {display: flex; text-align: center;}
.tbltype .tbl_no {flex: 0.1; padding: 16px 8px; color: #535862;}
.tbltype .tbl_tit {flex: 1; padding: 16px 8px; color: #262C36;}
.tbltype .tbl_name {flex: 0.3; padding: 16px 8px;}
.tbltype .tbl_date {flex: 0.4; padding: 16px 8px;}
.tbltype tbody tr {border-bottom: 1px solid #E9EBF0;}
.tbltype tbody tr:first-child {border-top: 1px solid #E9EBF0;}

.tbltype .tbltitdesc {overflow: hidden; display: inline-block; width: 320px; text-overflow: ellipsis; white-space:nowrap; font-size: 16px; font-weight: 500; color: #262C36;}
.mobileblock {display: none;}
.pcblock {display: block;}
@media (max-width: 992px) {
  .wraptopmenu {display: none;}
  .mobileblock {display: block;}
  .pcblock {display: none;}
  .wireless-sections .navbar-collapse {position: fixed; top: 0; left: 100%; width: 0; height: 100vh; padding-left: 15px; padding-right: 15px; padding-bottom: 15px; width: 100%; transition: all 0.4s ease; overflow-y: scroll; }
  .wireless-sections .navbar-collapse.collapsing {height: auto !important; margin-left: 50%; left: 50%; transition: all 0.2s ease;}
  .wireless-sections .navbar-collapse.show { left: 0%; top: 0; padding:0; margin:0; background: white; z-index: 99;  }
  .btn.navlast {display: initial;}
  .overlay {display: none; min-height: 100vh; min-width: 100vw; position: fixed;z-index: 99;top: 0;right: 0;bottom: 0;left: 0;cursor: wait;background: rgba(0, 0, 0, .7); transition: none; -webkit-overflow-scrolling: touch;}
  .overlay.active {display: block;}
  .navbar-light .navbar-toggler {position: fixed; right: 10px; z-index: 999;}
  
  .loginarea {display: flex; justify-content: space-between; align-items:center; margin-top: 66px; padding: 24px 20px; background-color: #F7F8FB; border-top: 1px solid #eee; font-size: 22px; font-weight: 600; color:#121215; line-height: 120%; letter-spacing: -0.44px;}
  .loginarea .desc {width: 60%;}
  .loginarea .desc .txt {display: block;}
  .loginarea .btnlogin {padding: 7px 26px; background: #262C36;}
  .specialmenu {padding: 20px 20px 0; border-bottom: 1px solid #E9EBF0;}
  .specialmenu ul {display: flex;}
  .specialmenu ul li {width: 33.3333%}
  .specialmenu ul li a {display: block; text-align: center;}
  .specialmenu ul li span {display: block; padding-top: 5px; font-size: 14px; color: #4D5461;}
  .navdropdown {padding: 4px 20px;}
  .navdropdown {}
  .navdropdown .accordion-button {padding: 10px 0; font-size: 18px; font-weight: 600; color: #1F2125;}
  .navdropdown .accordion-body {padding: 0;}
  .navdropdown .accordion-body .submenu {padding: 0 12px;}
  .navdropdown .accordion-body .submenu a {display: block; padding: 5px 0}
  .navdropdown .mo_topmenu {}
  .navdropdown .mo_topmenu a {display: block; padding: 8px 0; font-size: 18px; font-weight: 500; color: #4D5461}
  .navbar .navbar-brand img {height: 20px;}
  .navhome {position: fixed; right: 55px;}
  .navbar-toggler .navbar-toggler-icon {margin-top: 12px;}
  .navbar-toggler .navbar-toggler-icon .navbar-toggler-bar {width: 16px; background: #262C36;}
  .navbar-toggler .navbar-toggler-icon .navbar-toggler-bar.bar2, .navbar-toggler .navbar-toggler-icon .navbar-toggler-bar.bar3 {margin-top: 6px;}
  .wireless-sections .navbar {height: 66px;}
  .wireless-sections .navbar>.container, .wireless-sections .navbar>.container-fluid, .wireless-sections .navbar>.container-sm, .wireless-sections .navbar>.container-md, .wireless-sections .navbar>.container-lg, .wireless-sections .navbar>.container-xl, .wireless-sections .navbar>.container-xxl {justify-content: flex-start;}
  .wireless-sections .navbar h1 {justify-content: flex-start; padding-left: 0px;}
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-bar.bar3 {margin-top: 1px;}
  .tbldetail .info .tit.line:before {display: none;}
  .wrap_btn_list {display:block; padding-right: 0; padding-left: 0;}
  .btn_listmore {border: 1px solid #D6D7DE; border-radius: 8px; font-size: 16px; font-weight: 500; color: #4D5461}
  .divtbltype .tbody .tblinfobox .tbl_tit .tbltitdesc {width: auto; white-space:initial;}
  .depth2area {display: none;}

  .tbltype .tbl_no, .tbltype .tbl_name {display: none}
  .tbltype thead {font-size: 18px; font-weight: 500;}
  .tbltype tbody {font-size: 14px; font-weight: 400;}
  .tbltype .tbltitdesc {overflow: hidden; display: inline-block; width: 360px; text-overflow: ellipsis; white-space: nowrap; font-size: 14px; font-weight: 400; color: #262C36;}
}
@media (max-width: 576px) {
  /* .wireless-sections .navbar-collapse.show { left: 20%;} */
  .tbltype .tbl_date {flex: 0.7;}
}
@media (min-width: 769px) {
  .wireless-sections .navbar-collapse.show {left: 41%;}
  .loginarea,
  .specialmenu,
  .navdropdown {width: 60%;}
}

@media (max-width: 1024px) {
  .page-tit>.tit2 {font-size: 16px;}
  .tit20 {font-size: 16px;}
}
@media (max-width: 768px) {
  .login-tit {margin-bottom: 40px !important; font-size: 36px;}
  .page-tit {gap: 4px;}
  .tbltype .tbltitdesc {overflow: hidden; display: inline-block; width: 150px; text-overflow: ellipsis; white-space: nowrap; font-size: 14px; font-weight: 400; color: #262C36;}
}
