@media (max-width: 575px) {
  .container,
  .container-sm {
    max-width: 95vw;
    /* max-width: 320px; */
  }
  .container.toparea {max-width: 100%;}
  .container.toparea .container.px-3 {padding:0 !important;margin:0 !important;}
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 80vw;
    /* max-width: 540px; */
  }
  .container.toparea {max-width: 100%;}
  .container.toparea .container.px-3 {padding:0 !important;margin:0 !important;}
  .wraptopmenu {display: none}
  .modal-dialog {max-width: 440px;}
}

@media (min-width: 769px) {
  .container.toparea,
  .container,
  .container-sm,
  .container-md {
    max-width: 80vw;
    /* max-width: 720px; */
  }
  .container.toparea {max-width: 100%;}
  .modal-dialog {max-width: 440px;}
}

@media (min-width: 992px) {
  .container.toparea,
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 80vw;
    /* max-width: 976px; */
  }
  .modal-dialog {max-width: 440px;}
}

@media (min-width: 1024px) {
  .container.toparea,
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    /* max-width: 80vw; */
    max-width: 976px;
  }
  .modal-dialog {max-width: 440px;}
  .navbar {padding: 0 1.5rem; height: 74px;}
}

@media (min-width: 1200px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 976px;
  }
  .modal-dialog {max-width: 480px;}
}

@media (min-width: 1400px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 976px;
  }
  .modal-dialog {max-width: 480px;}
}
.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {--bs-gutter-x: 0;}
.navbar {box-shadow: none;border-bottom: 1px solid #E9EBF0; padding: 0 1.25rem; height: 66px;}
.navbar .container {max-width: 100%;}
.navbar .navbar-brand {position: absolute; z-index: 1;}
.navbar h1 {display: flex; align-items: center; justify-content: center; margin: 0;}
.footer {background: #000;}
.footer .wrapinfo {padding: 64px 24px 0;}
.footer .wrapinfo .infolist {padding: 1.5rem 0 45px 0;}
.footer .wrapinfo .infolist .tit {margin-bottom: .2rem; font-size: 0.875rem; font-weight: 600; color: #CACCD2;}
.footer .wrapinfo .infolist .desc {margin-bottom: .2rem; font-size: 13px; font-weight: 400; color: #CACCD2;}
.footer .wrapinfo .infolist .desc .subtit {font-weight: 500;}
.wrapcopyrights {font-size: 0.835rem; padding: 1.5rem 0; border-top: 1px solid rgba(233, 235, 240, 0.20);}
.text-secondary {color: #828591 !important;}
.navbar-nav .btn-outline-secondary {border-color: #E9EBF0;}
.navbar .toptit {font-size: 1.25rem; font-weight: 500; color: #1F2125; letter-spacing: -0.4px;}
.stepbar {display: flex; flex-wrap: wrap; gap: 8px;}
.stepbar .col {width:20%; height: 4px; gap:2px; background: #EFF0F5;}
.stepbar .col.active {background: #D60078;}
.border0 {border: 0;}
.h2tit {font-size: 1.5rem; font-weight: 700;}
.h2tit.underline {padding: 16px 0; border-bottom: 1px solid #828591;}
.h2tit .desctit {font-size: 1.25rem; font-weight: 500;}
.h3tit {font-size: 1.25rem; font-weight: 700;}
.h_tit18 {font-size: 1.125rem; font-weight: 500; color: #222;}
.input-group .form-label {position: relative;}
.input-group>.form-control, .input-group>.form-select, .input-group>.form-floating {width: inherit;}
.input-group>.form-control {color: #1F2125; font-size: 1.25rem;}
.input-group>.form-control::placeholder {color: #CACCD2; }
.form-control {padding: 1.0rem 0;}
.desc1 {position: relative; font-size: 0.875rem; font-weight: 600;} 
.desc1info {display: inline-block; position: relative; width: 16px; height: 16px;}
.desc1info::before {content:''; position: absolute; left: -23px; top: 3px; display: block; width: 16px; height: 16px; margin-left: 20px; background: url('../img/icon_info.png') 0 0 no-repeat; background-size: 100%;}
.wrapboxinfo1 {display: flex; padding: 1px; flex-direction: column; align-items: flex-start; gap: 16px;border-radius: 8px; border: 1px solid #FFDAEE; background: #FFF; background-image: linear-gradient(#fff, #fff), linear-gradient(180deg,rgba(255, 218, 238, 1) 0%, rgba(230, 0, 126, 1) 50%, rgba(128, 0, 70, 1) 100%); background-origin: border-box; background-clip: content-box, border-box; }
.boxinfo1 {padding: 20px;}
.pointcolor {color: #E6007E !important;}
.txt1F2125 {color: #1F2125 !important}
.txt4D5461 {color: #4D5461 !important}
.txt222 {color: #222 !important}
ol, ul {padding-left: 0;}
ol.list, ul.list {margin-bottom: 0;}
ol.list li, ul.list li { color: #1F2125; font-size: 0.875rem; list-style: none;}
.row {margin-right: 0; margin-left: 0;}
.listnum {position: relative;}
.listnum::before {content:''; display: block; width: 14px; height: 14px; background: red; border-radius: 100%; position: absolute; top: 0; left: 0;}
.btnwrap {display: flex; gap: 10px;}
.btnwrap .btn {flex:1; margin-bottom: 0; padding: 15px 20px; font-family: "Pretendard";font-size: 20px;font-weight: 600;line-height: 120%;text-transform: capitalize;}
.divide1 {height: 1px; margin: 20px 0; background-color: #E9EBF0;}
.divide10 {height: 10px; margin: 32px 0; background-color: #F7F8FB;}
.maptit {font-size: 1.125rem; color: #E6007E; font-weight: 700; padding-bottom: 15px; border-bottom: 1px solid #E9EBF0;}
.mapinfo .tit {padding-bottom: 8px;font-size: 18px; font-weight: 600; color: #4D5461;line-height: 140%;}
.mapinfo .desc {font-size: 16px; font-weight: 500; color: #828591;line-height: 130%;}
.reviewinfo_tit {font-size: 1rem; color: #828591}
.reviewinfo_tit .subdesc {font-size: 0.835rem; font-weight: 400; color: #CACCD2;}
.reviewinfo_desc {font-size: 1.125rem; color: #1F2125; font-weight: 500;}
.btn_edit {padding: 2px 10px; border-radius: 8px;border: 1px solid #D6D7DE;background: #FFF;}

.form-check:not(.form-switch) .form-check-input[type="checkbox"] {border-radius: 100%; border:0;}
.form-check:not(.form-switch) .form-check-input[type="checkbox"]:after {content:'';background:url('../img/check_default.svg') 0 0 no-repeat; background-size: 100%; opacity: 1;}
.form-check:not(.form-switch) .form-check-input[type="checkbox"]:checked:after {content:'';background:url('../img/check_checked.svg') 0 0 no-repeat; background-size: 100%;}
.accordion-button::after {content:''; width: 9px; margin: 10px 20px; margin-left: auto; background: url('../img/icon_rightarrow.svg') 0 0 no-repeat; background-size: 100%;transform: rotate(90deg);}
.accordion-button.arrowrighttype::after {transform: rotate(0deg);}
.accordion-button:not(.collapsed)::after {content:''; width: 9px; background: url('../img/icon_rightarrow.svg') 0 0 no-repeat; background-size: 100%; transform: rotate(270deg);}
.chkallbox > .form-check {position: relative; width: 100%; padding: 16px 16px 16px 8px; border: 1px solid #E9EBF0; border-radius: 8px;}
.chkallbox.active > .form-check {width: 100%; padding: 16px 16px 16px 8px; border: 1px solid #E6007E; border-radius: 8px;}
.chkallbox > .form-check:not(.form-switch) .form-check-input {margin-left: 0 !important;}
.chkallbox .accordion  {border-top: 1px solid #F7F7F7;}
.chkallbox .form-check:not(.form-switch) .form-check-input[type="checkbox"] {padding-left: 10px;}
.chkallbox .accordion-item:last-of-type .accordion-collapse {padding: 5px 12px 17px;background-color: #FFF4FA; border-radius: 8px;}
.chkallbox .form-check:not(.form-switch) .form-check-input.chkedall[type="checkbox"]:checked:after {content:'';background:url('../img/check_allchecked.svg') 0 0 no-repeat; background-size: 100%;}
.chkallbox .form-check-label {width:100%; padding: 0 11px; font-size: 1rem;}
.chkallbox .accordion-item .accordion-collapse .form-check.chksub:not(.form-switch) .form-check-input[type="checkbox"] {padding-left: 0;}
.chkallbox .accordion-button {padding: 10px 0;}
.chkinchksub .accordion-button {padding: 2px 0;}
.chkallbox .chkinchksub .form-check:not(.form-switch) .form-check-input[type="checkbox"] {padding-left: 0;}
.chkinchksub .form-check:not(.form-switch) .form-check-input[type="checkbox"]:after {content:'';background:url('../img/check_default2.svg') 0 0 no-repeat; background-size: 100%; background-color: #FFF4FA;}
.chkinchksub .form-check:not(.form-switch) .form-check-input[type="checkbox"]:checked:after {content:'';background:url('../img/check_checked2.svg') 0 0 no-repeat; background-size: 100%; background-color: transparent;}
.chkinchksub .accordion-button::after {content:''; margin: 10px 6px 10px 20px; margin-left: auto; background: url('../img/icon_rightarrow2.svg') 0 0 no-repeat; background-size: 100%;transform: rotate(0deg);}
.chkallbox .chkinchksub .form-check-label {width: 100%; padding-left: 0; padding-right: 20px; color: #4D5461;font-size: 0.875rem; font-weight: 400;}
.accordion-body.chkinchksub {padding: 0}
.chkallbox > .form-check.rightarrow::after {content:''; margin: 10px 6px 10px 20px; margin-left: auto; background: url('../img/icon_rightarrow.svg') 0 0 no-repeat; background-size: 100%;}
.form-check.wrapchkedall {margin-bottom: 12px;}
.list-group.type1 .list-group-item {border:0; padding: 8px 0; margin-top: 20px; font-size: 1.125rem; color: #1F2125;}
.list-group.type1 li:first-child {margin-top: 0;}
.list-group.type1 li a {display: block;}
.list-group.list-group-numbered.type2 .list-group-item {border: 0; text-align: left; padding: 3px 3px 3px 12px; font-size: 1rem; color: #4D5461; font-weight: 400;}
.btn-righticon {width: 24px; height: 24px; padding: 0; margin: 0;}
.icon-calendar {display: inline-block; width: 24px; height: 24px; padding: 0; background: url('../img/icon_calendar.svg') 0 0 no-repeat;}


/* 팝업 */
.modal .modal-content {border-radius: 20px; border: 0;}
.modal .modal-header {padding-top: 24px; border-bottom: 0;}
.modal .modal-title {font-size: 1.25rem; font-weight: 700; }
.modal .modal-body {padding-top: 0; padding-bottom: 25px;font-size: 1rem; font-weight: 500; line-height: 130%; border-top: 0;}
.modal .modal-footer {padding-top: 0;border-top: 0;}
.modal .modal-footer .btn {flex:1; margin-bottom: 5px; padding: 16px 20px; font-family: "Pretendard";font-size: 20px;font-weight: 600;line-height: 120%;text-transform: capitalize;}
.modal.show .modal-dialog {padding: 0 10px;}
.btn-primary, .btn.bg-gradient-primary, .btn-primary:hover, .btn.bg-gradient-primary:hover {box-shadow: none;}
.btn-close {background: url("../img/icon_close.png") 0 0 no-repeat;}
/* 바텀시트 팝업 */
.modal.fade.bottomsheetpop .modal-dialog {transition: transform .3s ease-out;transform: translate(0,50px);}
.bottomsheetpop .modal-dialog {position: fixed !important;bottom: 0 !important;left: 0% !important;right: 0% !important;margin-bottom: 0 !important;} 
.modal.show.bottomsheetpop .modal-dialog {padding: 0; transform: none;}
.bottomsheetpop .modal-content {border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
.modal .modal-body.scroll {overflow-y: scroll;}
/* wireless internet */
.btn.navlast {font-size: 1rem; border-radius: 50px; display: flex;padding: 8px 12px;justify-content: flex-end;align-items: center;gap: 5px;}
.wraptopmenu {display: block; padding: 8px 0;background-color: #EEE;}
.topmenu {display: flex; justify-content: flex-end; width: 100%;}
.topmenu a {padding: 0 12px; color: #828591; font-size: 0.835rem}

.depth2area {display: block; min-height:50px; background-color: #fff; border-bottom: 1px solid transparent;}
.depth2area.active {display: block; background-color: #fff; border-bottom: 1px solid #EFF0F5;}
.dropdown>.dropdown-menu.depth2menu .d-lg-block, .dropdown .dropdown-menu.depth2menu .d-lg-block,
.dropdown.dropdown-hover:hover>.dropdown-menu.depth2menu .d-lg-block, .dropdown .dropdown-menu.show.depth2menu .d-lg-block {display: flex !important;}
.dropdown.dropdown-hover:hover>.dropdown-menu.depth2menu, .dropdown>.dropdown-menu.depth2menu {display:block; width: 50vw; left: -150px !important; background: transparent; box-shadow: none; margin-top: 59px !important; transform: none !important;}
.dropdown>.dropdown-menu:before, .dropdown .dropdown-menu:before,
.dropdown.dropdown-hover:hover>.dropdown-menu:before, .dropdown .dropdown-menu.show:before {display: none;}
.dropdown-item {width: auto; font-size: 1.125rem; font-weight: 400; color: #828591; padding: 9px 24px;transition: none; outline: none;}
.dropdown-item:hover, .dropdown-item:focus {font-weight: 500; color: #1F2125; border-bottom: 2px solid #262C36; border-radius: 0; }
.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {color: #E6007E; font-weight: 500;}
.navbar .nav-item.active .nav-link {color: #E6007E; cursor: pointer;}

@media (max-width: 992px) {
  .wraptopmenu {display: none;}
}


    .navbar-collapse {
        position: absolute;
        top: 54px;
        left: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        transition: all 0.4s ease;
        display: block;
    }
    .navbar-collapse.collapsing {
        height: auto !important;
        margin-left: 50%;
        left: 50%;
        transition: all 0.2s ease;
    }
    .navbar-collapse.show {
        left: 0;
    }